.form__heading {
  margin-bottom: 1rem;

  h1 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--marine-blue);
  }

  p {
    font-size: 1.125rem;
    color: var(--cool-gray);
    font-weight: 500;
  }
}
