@font-face {
  font-family: "Ubuntu";
  src: url("/src/assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/src/assets/fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/src/assets/fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);

  --primary-400: hsl(213, 96%, 18%);
  --primary-300: hsl(243, 100%, 62%);
  --primary-200: hsl(228, 100%, 84%);
  --primary-100: hsl(206, 94%, 87%);

  --secondary-400: hsl(354, 84%, 57%);

  --neutral-400: hsl(231, 11%, 63%);
  --neutral-300: hsl(229, 24%, 87%);
  --neutral-200: hsl(217, 100%, 97%);
  --neutral-100: hsl(231, 100%, 99%);

  --fs-body: 1rem;
  --ff-primary: "Ubuntu", sans-serif;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  font: inherit;
}

html,
body,
#root,
.app {
  height: 100%;
}

body {
  background-color: var(--neutral-200);
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

#root {
  isolation: isolate;
}
